# OSX
.DS_Store

# LaTeX
*.aux
*.pdf
*.synctex.gz
*.log

# Sublime Text 2
sads.sublime-project
sads.sublime-workspace

# rdoc generated
rdoc

# simplecov generated
coverage

# packaged gem
pkg

#
misc/params.txt
*.tar.gz
